body {
  text-shadow: 0 -1px 0 rgb(14, 11, 31);
  border: 2px solid rgb(15, 201, 170);
}

.label {
  display: block;
  padding: 10px;
}

.timer {
  color: rgb(6, 6, 145);
  display: flex;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 35%;
  border: 2px rgb(15, 201, 170) solid;
}
